/* body{
    margin: 0;
    padding: 0;
} */

.logo {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Pridi', serif;
    color: #00b8de;
    font-size: 40px;
    margin-top: 0px;
}

h3 {
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
}

.button {
    background-image: linear-gradient(to right, #03a9f4, #00afee, #00b4e7, #00b8de, #00bcd4);
    border-radius: 30px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 20px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.buttonMini {
    background-image: linear-gradient(to right top, #5e35b1, #6f33b2, #7f2fb2, #8e2cb1, #9c27b0);
    border-radius: 8px;
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    border: none;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 14px;
    letter-spacing: 2.5px;
    cursor: pointer;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center
}

.home {
    margin: 10px;
    border-radius: 20px;
}


.button:hover:active {
    box-shadow: rgba(0,0,0,.2) 10px 10px 14px 1px;
    color: #fff;
    transform: scale(0.96);
    transition-duration: 200ms;
}

.pageTitle {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 30px;

}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    height: 45px;
    background-color:#F5F5F5;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding-left: 20px;
    font-size: 16px;

}

.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    text-align: center;
}

a {
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color:;
}

.clientCard, .jobCard {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px 20px;
    padding: 10px 20px;
    box-shadow: rgba(0,0,0,.1) 6px 6px 10px 1px;
    border-radius: 10px;
    max-width: 700px;
}

.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
}

.flex-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    font-family: "Titillium Web", sans-serif;
}

.progress {
  color: #f80;
  width: 300px;
  height: 20px;
  background-color: whiteSmoke;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1) inset;
    
}

.progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  position: absolute;
  text-align: left;
  padding-left: 5vh;
  padding-top: 5px;
  color: white;
}

.progress .value {
  background-color: orange;
  display: inline-block;
  height: 100%;
  border-radius: 3px;
}

